<body style="background-image: url(assets/Bg_3.jpeg)" class="fondo">
  <div class="login">
    <form [formGroup]="myform" (ngSubmit)="onSubmit()" class="form">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Nombre del Evento</mat-label>
          <input formControlName="name" matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Categoria del Evento</mat-label>
          <mat-select formControlName="category">
            <mat-option value="Conferencia"> Conferencia</mat-option>
            <mat-option value="Seminario">Seminario</mat-option>
            <mat-option value="Congreso"> Congreso</mat-option>
            <mat-option value="Curso">Curso</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Lugar del Evento</mat-label>
          <input formControlName="place" matInput />
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Dirección del Evento</mat-label>
          <input formControlName="address" matInput />
        </mat-form-field>
      </div>
     <div>

     </div>
      <div style="text-align: center">
        <button type="submit">Iniciar Sesión</button>
      </div>
      <br />
      <a href="login/forgot-password"> Olvide mi contraseña</a>
    </form>
  </div>
</body>
