
.login {
  width: 500px;
  padding: 10% 0 0;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  border-radius: 25px;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  font-family: "Century Gothic";
}

.form input {
  font-family: "Century Gothic";
  outline: 0;
  background: #f1f2f7;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 25px;
}

.form input::placeholder {
  font-family: "Century Gothic";
}

.form button {
  font-family: "Century Gothic";
  outline: 0;
  background: #6110a5;
  width: 35%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3s ease;
  cursor: pointer;
  border-radius: 25px;
}

.form button:hover,
.form button:active
 {
  background: #9356d2;

}

.form .registration-form {
  display: none;
}

body {
  font-family: "Century Gothic";
}

a {
  font-family: "Century Gothic";
}

p {
  font-family: "Century Gothic";
}

img {
  width: 100%;
}

label
{
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.fondo
{
  background-size: 100%;
}

a:hover{
  color: #9356d2;
}
